header{
    background-image: url("../images/header.jpg");
    background-size: contain;
    background-attachment: fixed;
    width: auto;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; 
    font-size: 200%;  
    text-align: center;   
}

    
    





@media all (min-width: 480px max-width: 1400px )