header{
    background-image: url("../images/header.jpg"); /**définit notre image comme fond de notre header**/
    background-size: cover;
    height: 568px; /**définit la hauteur de notre header**/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px; /**définit la taille de notre police**/    
}

p{
    background-color: burlywood;
    background-size:  cover;
    width: 800px;
    height: 150px;
}
    
    





/**@media all (min-width: 480px max-width: 1400px )**/
   

